<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>westerweb</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div id = "menu" class="navbar">
        <ul>
            <il><a href="{% url 'index' %}" class="navbar-brand">Home</a></il>
            <il><a href="" class="navbar-item">About</a></il>
            <il><a href="" class="navbar-item">Contact</a></il>
        </ul>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                <ul class="sidebar-nav">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'utils' %}">Utilities</a></li>
                    <li><a href="{% url 'other' %}">Other</a></li>
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10 ">
                {% block content %}
                {% endblock %}
                <hr/>
                <footer>
                    <p>© 2020</p>
                </footer>
            </div>
        </div>
    </div>
    
</body>

</html>